bleach==3.1.5
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.3.0
cryptography==2.9.2
cycler==0.10.0
dill==0.3.2
docutils==0.16
future==0.18.2
gym==0.17.2
idna==2.9
jeepney==0.4.3
keyring==21.2.1
kiwisolver==1.2.0
matplot==0.1.9
matplotlib==3.2.2
multiprocess==0.70.10
numpy==1.18.5
opencv-python==4.2.0.34
p-tqdm==1.3.3
packaging==20.4
pandas==1.0.5
pathos==0.2.6
pkginfo==1.5.0.1
pox==0.2.8
ppft==1.6.6.2
pycparser==2.20
pyglet==1.5.0
Pygments==2.6.1
pyloco==0.0.139
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rubiks-cube-gym==0.4.0
scipy==1.4.1
SecretStorage==3.1.2
SimpleWebSocketServer==0.1.1
six==1.15.0
tqdm==4.46.1
twine==3.1.1
typing==3.7.4.1
urllib3==1.25.9
ushlex==0.99.1
webencodings==0.5.1
websocket-client==0.57.0
wget==3.2
